    {% extends "base.html" %}
    {% block content %}

    <div class="form-page contact-main signup">
      <img alt="Open" 
           id="simple-menu" 
           class="icon-menu" 
           src="https://content.codecademy.com/projects/z2d/stories/menu-white.svg" />
        
      <div class="pop-up container">
        {% for message in get_flashed_messages() %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      </div>  
        
      <div class="container"> 
        <h1>Sign up for a FREE account with Storeo</h1> 
        <div class="form form-column">
          
          <form class="form-section" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
              {{ form.username.label }}
              {% for error in form.username.errors %}
              <span style="color: red; font-weight: bold;">[{{ error }}]</span>
              {% endfor %}<br>
              {{ form.username(size=32) }}<br>
            </p>
            <p>
              {{ form.email.label }}
              {% for error in form.email.errors %}
              <span style="color: red; font-weight: bold;">[{{ error }}]</span>
              {% endfor %}<br>
              {{ form.email(size=32) }}<br>
            </p>
            <p>
              {{ form.password.label }}
              {% for error in form.password.errors %}
              <span style="color: red; font-weight: bold;">[{{ error }}]</span>
              {% endfor %}<br>
              {{ form.password(size=32) }}<br>
            </p>
            <p>
              {{ form.password2.label }}
              {% for error in form.password2.errors %}
              <span style="color: red; font-weight: bold;">[{{ error }}]</span>
              {% endfor %}<br>
              {{ form.password2(size=32) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
          </form>
            
        </div> 
      </div>
    </div>

    {% endblock %}
